{% extends "layout.html" %}

{% block title %}
    Error 404
{% endblock %}

{% block style %}
<!-- CSS stylesheet -->
<style>
    #body 
    {
        background-image: linear-gradient(to right, #003976, #00264f);
        color: #fff;
        min-height: 1000px;
    }
</style>
{% endblock %}

{% block main %}

{% endblock %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ERROR: PAGE NOT FOUND</h1>
    </div>
</body>
</html>