#party 
{
    background-image: linear-gradient(to right, #003976, #00264f);
    color: #fff;
}

.wave
{
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.7);
}

.modal-content {
    background-color: #fefefe;
    color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clickable-sprite {
    /* Add styles for clickable sprites */
    margin: 5px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s; /* Add a smooth transition effect */
    background-color: #002F61;
    /* Initial styles */
    border: 1px solid #ccc;
    border-radius: 5px;

    /* Additional styles for hover state */
    &:hover {
        border-color: #007bff; /* Change border color on hover */
        background-color: #f0f0f0; /* Change background color on hover */
        cursor: pointer; /* Set cursor to pointer on hover */
    }
}

.party-slot {
    margin-right: 15px; /* Add margin between party slots */
}

.empty-sprite-container {
    width: 96px; /* Set the width to the same value for both */
    height: 96px; /* Set the height to the same value for both */
    border: 1px solid #ccc; /* Set the border style */
    border-radius: 5px; /* Add border-radius for rounded corners */
    margin: 10px; /* Add margin to create space between containers */
    display: inline-block; /* Ensure elements are displayed inline */
    vertical-align: middle; /* Align the elements vertically in the middle */
}

.form-control
{
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background for input */
    border-color: transparent; /* Transparent border */
    color: #00264f; /* Dark blue text color */
    margin-bottom: 15px; /* Add some bottom margin between input fields */
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.7); /* Lighter semi-transparent white background on focus */
    border-color: transparent; /* Transparent border on focus */
    box-shadow: none; /* Remove default box-shadow on focus */
    color: #00264f;
}

.form-control::placeholder {
    color: #fcfcfc; /* Customize the placeholder text color */
}

#footer 
{
    background-image: linear-gradient(to right, #003976, #00264f);
    color: #fff;
    height: 100px;
}