#settings 
{
    background-image: linear-gradient(to right, #003976, #00264f);
    color: #fff;
}



.form-control
{
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background for input */
    border-color: transparent; /* Transparent border */
    color: #00264f; /* Dark blue text color */
    margin-bottom: 15px; /* Add some bottom margin between input fields */
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.7); /* Lighter semi-transparent white background on focus */
    border-color: transparent; /* Transparent border on focus */
    box-shadow: none; /* Remove default box-shadow on focus */
    color: #00264f;
}

.form-control::placeholder {
    color: #fcfcfc; /* Customize the placeholder text color */
}



#footer 
{
    background-image: linear-gradient(to right, #003976, #00264f);
    color: #fff;
    height: 50px;
}