{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class="container" style="padding-right: 10px; padding-left: 10px; padding-bottom: 100px; padding-top: 50px">
    <h1>About me</h1>
    <p>
        Greetings! I'm Ricardo Silva, an aspiring software developer. Presently, I'm pursuing a dual major in electrical engineering and computer science, while independently studying web development. My main area of interest is back-end development. Please feel free to explore my GitHub profile to see the projects I have been involved in.
    </p>
    
    <h1>About the project</h1>
    <p>
        Welcome to [Project Name]! This website is tailored for Pokemon enthusiasts who enjoy creating their own Pokemon party. Its features include a user profile, where you can showcase your Pokemon and personal information, as well as a comprehensive Pokedex and Pokemon encyclopedia, allowing you to select your desired Pokemon for your team.
        Developed by Ricardo Silva.
    </p>
</div>
{% endblock %}
