{% extends "layout.html" %}

{% block title %}
    Pokedex
{% endblock %}

{% block main %}
    <h1>POKEDEX</h1>
    Shows one pokemon with all its info at a time (paging)
    <p></p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <img src="{{ pokemon_sprites_cache[i].url }}" alt="Pokemon Sprite"> <p></p>

    ID: {{ pokemon_data.id }} <p></p>
    Name: {{ pokemon_data.name }} <p></p>
    Height: {{ pokemon_data.height }} <p></p>
    Weight: {{ pokemon_data.weight }} <p></p>

    Types: {{ pokemon_data.types }},
    

    <p></p>

    Abilities: {{ pokemon_data.abilities }} 
    <p></p>

    Stats: {{ pokemon_data.stats }} 

    <p></p>
    
    <form action="/pokedex" method="post">
        <input type="hidden" name="action" value="search">
        <input name="pokemon_name" placeholder="Pokemon Name" type="text">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <form action="/pokedex" method="post">
        <!-- Hidden input field to indicate the action -->
        <input type="hidden" name="action" value="previous">

        <!-- Previous button -->
        <button class="btn btn-primary" type="submit">Previous</button>
    </form>
    <p></p>
    <form action="/pokedex" method="post">
        <!-- Hidden input field to indicate the action -->
        <input type="hidden" name="action" value="next">

        <!-- Next button -->
        <button class="btn btn-primary" type="submit">Next</button>
    </form>

{% endblock %}

<!--
<form action="/pokedex" method="post">
    # Hidden input field to indicate the action 
    <input type="hidden" name="action" id="action" value="">

    # Input for Pokemon Name (for the search action)
    <input name="pokemon_name" id="pokemon_name" placeholder="Pokemon Name" type="text">

    # Buttons for different actions 
    <button class="btn btn-primary" type="submit" onclick="setAction('search')">Search</button>
    <button class="btn btn-primary" type="submit" onclick="setAction('previous')">Previous</button>
    <button class="btn btn-primary" type="submit" onclick="setAction('next')">Next</button>
</form>

<script>
    function setAction(action) {
        // Set the value of the hidden input field to the specified action
        document.getElementById('action').value = action;
    }
</script>-->
