{% extends "layout.html" %}

{% block title %}
    Pokedex
{% endblock %}

{% block main %}
    <h1>POKEDEX</h1>
    Shows one pokemon with all its info at a time (paging)
    <p></p>


    <img src="{{ pokemon_sprites_cache[i].url }}" alt="Pokemon Sprite"> <p></p>

    ID: {{ pokemon_data_cache[i].id }} <p></p>
    Name: {{ pokemon_data_cache[i].name }} <p></p>
    Height: {{ pokemon_data_cache[i].height }} <p></p>
    Weigth: {{ pokemon_data_cache[i].weight }} <p></p>

    Types: {{ pokemon_data_cache[i].types }},
    

    <p></p>

    Abilities: {{ pokemon_data_cache[i].abilities }} 
    <p></p>

    Stats: {{ pokemon_data_cache[i].stats }} 

    <p></p>

    <form action="/pokedex" method="post">
        <!-- Hidden input field to indicate the action -->
        <input type="hidden" name="action" value="previous">

        <!-- Previous button -->
        <button class="btn btn-primary" type="submit">Previous</button>
    </form>
    
    <form action="/pokedex" method="post">
        <input type="hidden" name="action" value="search">
        <input name="pokemon_name" placeholder="Pokemon Name" type="text">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <form action="/pokedex" method="post">
        <!-- Hidden input field to indicate the action -->
        <input type="hidden" name="action" value="next">

        <!-- Next button -->
        <button class="btn btn-primary" type="submit">Next</button>
    </form>

{% endblock %}
